/*
 *
 *
 Color variables
 *
 *
 */


// Purples
$primary-100: #8c12e2; // triangle
$primary-200: #5e1690; // notification border


// White, Gray, Black
$neutral-400: #ccc; //used for borders
$neutral-900: #101010; //used for body copy
