.notification-📬 {
  background: rgb(253,253,253);
  background: radial-gradient(circle, rgba(253,253,253,1) 0%, rgba(251,251,251,1) 100%);
  border: 1px solid $neutral-400;
  border-left: 10px solid $primary-200;
  margin-top: 2em;
  padding: 0.5em 1em;
  max-width: 60em;

  @media screen and (min-width: $screen-giant) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
  .notification-📬  p {
    max-width: 50em;
  }
