.articles-✏️ {
  @media screen and (min-width: $screen-giant) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
  .articles-✏️__categories {
    margin-bottom: 2em;

    ul li {
      margin-bottom: 1em;

      @include media-query(screen-non-handhelds) {
        margin-bottom: 0;
      }
    }
  }
