.mike-talks-🎤 {
  @media screen and (min-width: $screen-giant) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
  .mike-talks-🎤__list {
  }
    .mike-talks-🎤__talk {
      margin-bottom: 1em;
    }
      .mike-talks-🎤__talk .headline--minor {
        margin-bottom: 0;
      }
