.who-are-you-🐛 {

}
  .who-are-you-🐛__say-hi {
    border-bottom: 1px solid $neutral-400;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin: 0.5em 0 1em;
  }
  .who-are-you-🐛__your-name-please {
    font-weight: 600;
  }
