@charset "UTF-8";
/* Hi folks 👋 */
h3, h4, h5, h6 {
  /* font-family: 'Montserrat', sans-serif;
   font-weight: 200; */
  margin: 0; }

p {
  font-size: 0.9em;
  line-height: 1.6; }

a,
a:link,
a:visited {
  color: #7e09d0; }

.link--email {
  display: block;
  margin-top: 1em; }

ul {
  padding-left: 0; }

ul li {
  list-style: none; }

/* Typography */
.headline--main {
  font-weight: 600;
  font-size: 2em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1em;
  max-width: 19em; }

.headline--main-sub {
  color: #757575;
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  display: block;
  font-weight: 400;
  font-size: .5em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.headline--major {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1em; }

.headline--minor {
  color: #757575;
  font-family: "Montserrat", Helvetica, Verdana, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
  margin: 0 0 1em;
  text-transform: uppercase; }

.notification-📬 {
  background: radial-gradient(circle, #fdfdfd 0%, #fbfbfb 100%);
  border: 1px solid #ccc;
  border-left: 10px solid #5e1690;
  background: #fff;
  margin-top: 2em;
  padding: 0.5em 1em;
  max-width: 60em; }

.notification-📬 p {
  max-width: 50em; }

.kivikoski-says-hello-👋 {
  border-top: 10px solid #8c12e2;
  color: #101010;
  font: 1em/1.5 "Merriweather", Georgia, "Times New Roman", serif;
  margin: 0;
  padding: 1em 1.75em 1em 1em; }
  @media screen and (min-width: 374px) {
    .kivikoski-says-hello-👋 {
      font-size: 1.2em;
      padding: 1em; } }

.who-are-you-🐛__say-hi {
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin: 0.5em 0 1em;
  padding-bottom: 0.5em; }

.who-are-you-🐛__introduction {
  color: #757575;
  font-weight: 200; }

.who-are-you-🐛__your-name-please {
  color: #101010;
  font-weight: 600; }

.quick-summary-🎉 {
  background: #fdfdfd;
  background: radial-gradient(circle, #fdfdfd 0%, #fbfbfb 100%);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 1em;
  padding: 1em;
  position: relative; }
  @media only screen and (min-width: 701px) {
    .quick-summary-🎉 {
      display: grid;
      grid-template-columns: 33% 16.5% 16.5% 16.5% 16.5%; } }
  .quick-summary-🎉::before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #8c12e2;
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 20px); }

.headshot {
  display: none; }
  @media only screen and (min-width: 701px) {
    .headshot {
      display: block;
      grid-column: 1;
      grid-row: 1; } }

.headshot__avatar {
  /* border: 1px solid $neutral-400; */
  border-radius: 100%;
  display: block;
  margin: 2em auto 0;
  max-height: 295px;
  max-width: 80%; }

@media only screen and (min-width: 701px) {
  .quick-summary-🎉__headline {
    grid-column: 2 / 6;
    grid-row: 1; } }

@media screen and (min-width: 701px) {
  .quick-summary-🎉__content--first {
    grid-column: 2/6; } }

@media screen and (min-width: 872px) {
  .quick-summary-🎉__content--first {
    grid-column: 1 / 3;
    grid-row: 2;
    padding-right: 1em; } }

@media screen and (min-width: 1100px) {
  .quick-summary-🎉__content--first {
    grid-column: 2 / 6; } }

@media screen and (min-width: 1174px) {
  .quick-summary-🎉__content--first {
    grid-column: 2 / 4; } }

@media screen and (min-width: 701px) {
  .quick-summary-🎉__content--last {
    grid-column: 2 / 6; } }

@media screen and (min-width: 872px) {
  .quick-summary-🎉__content--last {
    grid-column: 3 / 6;
    grid-row: 2;
    padding-right: 1em; } }

@media screen and (min-width: 1100px) {
  .quick-summary-🎉__content--last {
    grid-column: 2 / 6;
    grid-row: 3; } }

@media screen and (min-width: 1174px) {
  .quick-summary-🎉__content--last {
    grid-column: 4 / 6;
    grid-row: 2; } }

.work-💻 {
  max-width: 60em;
  margin-bottom: 4em; }

.work-💻 .headline--major {
  max-width: 46em; }

.what-mike-likes-👨‍💻 {
  margin-top: 1em; }

.what-mike-likes-👨‍💻__example {
  font-size: 0.9em; }

.what-mike-likes-👨‍💻__headline {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  font-weight: 400; }

.what-mike-likes-👨‍💻__item {
  display: inline; }

.what-mike-likes-👨‍💻__item:not(:last-child)::after {
  content: ', '; }

.mike-talks-🎤__talk {
  margin-bottom: 1em; }

.mike-talks-🎤__talk .headline--minor {
  margin-bottom: 0; }

.articles-✏️__categories {
  margin-bottom: 2em; }
  .articles-✏️__categories ul li {
    margin-bottom: 1em; }
    @media only screen and (min-width: 701px) {
      .articles-✏️__categories ul li {
        margin-bottom: 0; } }

section {
  margin-bottom: 4em; }
